<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dark</key>
	<dict>
		<key>ANSIBrightBlueColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
		XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBowLjQwMDAwMDAwNiAwLjQw
		MDAwMDAwNiAxABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2Vz
		V05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
		FxhUcm9vdIABCBEaIy0yNztBSE5bYn+Bg4iTnKSnsMLFygAAAAAA
		AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
		</data>
		<key>BackgroundBlur</key>
		<real>0.05000000074505806</real>
		<key>BackgroundColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
		dGVcTlNDb2xvclNwYWNlViRjbGFzc00wIDAuODUwMDAwMDIAEAOA
		AtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhO
		U09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERoj
		LTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEAAAAAAAAAGQAA
		AAAAAAAAAAAAAAAAAL8=
		</data>
		<key>Bell</key>
		<integer>0</integer>
		<key>CursorColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
		dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjMwMjQxOTM2ABADgALS
		EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
		YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
		NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
		AAAAAAAAAAAAAAC9
		</data>
		<key>Font</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
		U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AqAAAAAAAAEBCA
		AoADXURyb2lkU2Fuc01vbm/SExQVFlokY2xhc3NuYW1lWCRjbGFz
		c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
		ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
		AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
		</data>
		<key>FontAntialias</key>
		<true/>
		<key>FontWidthSpacing</key>
		<integer>1</integer>
		<key>Linewrap</key>
		<integer>1</integer>
		<key>ProfileCurrentVersion</key>
		<real>2.04</real>
		<key>SelectionColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
		dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjI1NDAzMjI1ABADgALS
		EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
		YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
		NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
		AAAAAAAAAAAAAAC9
		</data>
		<key>ShowTTYNameInTitle</key>
		<integer>1</integer>
		<key>ShowWindowSettingsNameInTitle</key>
		<false/>
		<key>TextBoldColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
		dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
		c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
		U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
		a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
		AAC0
		</data>
		<key>TextColor</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
		Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
		dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjk0NzU4MDY0ABADgALS
		EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
		YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
		NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
		AAAAAAAAAAAAAAC9
		</data>
		<key>UseBoldFonts</key>
		<integer>0</integer>
		<key>UseBrightBold</key>
		<integer>1</integer>
		<key>VisualBell</key>
		<integer>0</integer>
		<key>columnCount</key>
		<integer>128</integer>
		<key>name</key>
		<string>Dark</string>
		<key>rowCount</key>
		<integer>32</integer>
		<key>shellExitAction</key>
		<integer>1</integer>
		<key>type</key>
		<string>Window Settings</string>
		<key>useOptionAsMetaKey</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
